body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Inter', 'Courier New', Courier, monospace;
}

textarea:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
svg,
ul,
li {
  margin: 0;
  padding: 0;
}

svg {
  opacity: 60%;
}

svg:hover {
  opacity: 70%;
}

button {
  color: inherit;
  background: none;
  border: none;
  cursor: pointer;
}

main {
  border: 2px solid rgba($color: #777777, $alpha: 0.3);
  height: 90vh;
  border-radius: 12px;
}

main section {
  padding: 1rem;
}

.q-page-container {
  margin: 0;
  height: 90vh;
}

#chat {
  border-left: 1px solid rgba($color: #777777, $alpha: 0.3);
  border-right: 1px solid rgba($color: #777777, $alpha: 0.3);
  max-height: 100%;
}

.side {
  max-height: 100%;
  width: 240px;
  padding: 0;
}


#channels-list {
  height: calc(100% - 240px);
  overflow-y: auto;
}

.channel-button {
  width: 100%;
  padding-right: 1rem;
  border-bottom: 1px solid rgba($color: #777777, $alpha: 0.3);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.private-icon {
  margin-right: 4px;
}

.side-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba($color: #777777, $alpha: 0.3);
  padding: 0.75rem 1rem;
}

.center-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}

.start-btn {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 48px;
  height: 48px;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

.end-btn {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 48px;
  height: 48px;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

#notification-btn {
  position: fixed;
  top: 95%;
  right: 0.5%;
  transform: translate(-50%, -50%);
  background-color: $primary;
  border: none;
  border-radius: 50%;
  padding: 12px;
  cursor: pointer;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

#notification-btn.has-notification::after {
  content: '';
  position: absolute;
  top: 8px;
  right: 10px;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  border: 1px solid white;
}

#notification-btn svg {
  width: 24px;
  height: 24px;
}

.join-btn {
  margin: 0.25rem 0.5rem;
  height: 40px;
}

.join-btn div {
  padding: 0 14px;
}

#create-btn {
  width: calc(100% - 16px);
}

#channel-code {
  width: calc(100% - 86px);
  height: 100%;
  resize: none;
  border: none;
  margin: 0;
  background: rgba(255, 255, 255, 0);
  border-bottom: 1px solid white;
  color: white;
  padding: 0 0.25rem;
  padding-top: 12px;
}

#profile-tab {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem 0.75rem;
}

.tab-text {
  max-width: 108px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#username {
  font-weight: 600;
  display: inline-block;
  max-width: 108px;
  margin-left: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.settings-button {
  margin-left: auto;
  margin-right: 8px;
  width: 24px;
  height: 24px;
}

#owner-picture {
  width: 44px;
  height: 44px;
}

.profile-picture {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 0.75rem;
}

#messages {
  height: calc(100% - 104px);
  overflow-y: auto;
  padding: 0 1.25rem;
  // border: 1px solid rgba($color: #FF0000, $alpha: 0.3);
}

.message-text {
  display: inline-block;
  max-width: 224px;
  word-wrap: break-word;
  white-space: normal;
}

#chat-text {
  width: 100%;
  width: calc(100% - 24px);
  height: 36px;
  resize: none;
  border: none;
  margin: 0;
  background: rgba(255, 255, 255, 0);
  color: white;
  font-size: 18px;
  padding-top: 4px;
}

#create-channel {
  display: flex;
}

.send-button {
  padding: 0;
  width: 24px;
  height: 24px;
}

.message-name {
  display: inline-block;
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.users-list {
  max-height: calc(100% - 74px);
  overflow-y: auto;
}

#chat-area {
  border: 2px solid rgba($color: #777777, $alpha: 0.3);
  width: 100%;
  padding: 0.25rem 0.75rem;
  display: flex;
  align-items: center;
}

#user-tab {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem 0.75rem;
}

.role {
  width: 100%;
  color: $secondary;
  font-size: 16px;
  font-weight: bold;
  padding: 0 1rem;
  text-align: center;
  margin-top: 12px;
}

.command-popup {
  background-color: $secondary;
  width: 224px;
  max-height: 200px;
  overflow-y: auto;
  bottom: 104px;
  font-size: 0.9rem;
}

.command-popup ul {
  list-style: none;
  padding: 0.25rem 0.5rem;
}


.notif-remove {
  right: 4px;
  top: 8px;
}

.notif-message {
  color: #333333;
  margin-left: 6px;
}

.notif-user {
  font-weight: 700;
}

.notif-header {
  font-size: 15px;
}

.user-tab {
  padding-left: 0.75rem;
}

.notification-list {
  position: fixed;
  bottom: 72px;
  right: 38px;
  width: 250px;
  background-color: $primary;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 100;
  max-height: 320px;
  overflow-y: auto;
  color: black;
}

.notification-item {
  padding: 0.75rem 1.5rem;
  margin-bottom: 2px;
  background-color: $secondary;
  font-style: italic;
}

.channel-dialog {
  min-width: 300px;
  max-width: 400px;
  color: black;
}

.inv-actions {
  display: flex;
  padding: 0 8px;
  justify-content: space-between;
  margin-top: 8px;
}

.notif-accept,
.notif-decline {
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  transition: 0.2s ease;
}

.notif-accept {
  background-color: #4caf50;
  color: white;
}

.notif-accept:hover {
  background-color: #45a049;
}

.notif-decline {
  background-color: #e53935;
  color: white;
}

.notif-decline:hover {
  background-color: #d32f2f;
}
